<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="WizytaFileName" value="PrzykladowaWizyta.xml"/>
    <add key="CertificateFileName" value="mediportaApiExample.p12" />
    <add key="CertificatePassword" value="testPass" />
    <add key="RequestUriForHealthCheck" value="https://_URL_TO_MEDIPORTA_INSTANCE/Ping" />
    <add key="RequestUriForCreateAndEditWizytaWithCookieAuth" value="https://_URL_TO_MEDIPORTA_INSTANCE/Create" />
    <add key="RequestUriForCreateAndEditWizytaWithTokenAuth" value="https://_URL_TO_MEDIPORTA_INSTANCE/CreateWithUrls" />
  </appSettings>
</configuration>